.button2 {
  background: linear-gradient(135deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
  background-size: 400%;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  width: 50%;
}
.button2:hover {
  font-size: 1.25rem;
  background-size: 220%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p,
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
  background-size: 210%;
  padding: 10px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  align-items: flex-end;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .logo img {
  max-width: 50px;
  margin-left: 15px;
  border: 2px solid white;
  border-radius: 10px;
}
nav .logo h1 {
  font-size: 2rem;
  align-self: flex-end;
  color: white;
}
nav a {
  padding: 15px 25px;
  color: white;
}
nav a:hover {
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    background-size: 220%;
    align-items: center;
  }
  nav .logo {
    margin-bottom: 5%;
  }
  nav .nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-links a {
    padding: 5px 10px;
  }
}
footer {
  background: linear-gradient(135deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
  background-size: 210%;
  margin-top: 5%;
  height: 50px;
  text-align: center;
  color: white;
}
footer p {
  font-size: 1.3rem;
  padding-top: 15px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.page-container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 600px) {
  .page-container footer {
    display: none;
  }
}
@media (max-height: 675px) {
  .page-container footer {
    display: none;
  }
}
header {
  margin: 2% auto;
  width: 90%;
  border: 1px solid lightgray;
  box-shadow: 1px 2px 1px rgba(95, 95, 95, 0.459);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header img {
  width: 45%;
  height: 90%;
}
header .cta-main-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .cta-main-container h2 {
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
}
header .cta-main-container .cta-copy {
  width: 70%;
  text-align: center;
}
header .cta-main-container .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .cta-main-container .buttons .round-button {
  background: linear-gradient(135deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
  background-size: 400%;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  width: 50%;
  margin: 5%;
}
header .cta-main-container .buttons .round-button:hover {
  font-size: 1.25rem;
  background-size: 220%;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 100%;
  }
  header .cta-main-container .cta-copy {
    width: 90%;
  }
  header .cta-main-container .buttons {
    flex-direction: column;
  }
  header .cta-main-container .buttons .round-button {
    width: 90%;
  }
}
.info {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info .info-box {
  border: 1px solid lightgray;
  box-shadow: 1px 3px 1px rgba(211, 211, 211, 0.589);
  width: 23%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info .info-box img {
  width: 35%;
  margin: 5%;
  border-radius: 20px;
}
.info .info-box h3 {
  margin: 5% auto;
  font-size: 1.5rem;
  text-align: center;
}
.info .info-box .square-button {
  margin: 5% 0;
  background: none;
  border: 3px solid #03632E;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: #03632E;
  font-size: 1rem;
  padding: 10px 30px;
}
.info .info-box .square-button:hover {
  font-size: 1.25rem;
}
.info .info-box p {
  width: 90%;
  text-align: center;
}
@media (max-width: 600px) {
  .info {
    flex-direction: column;
  }
  .info .info-box {
    width: 90%;
    margin: 5% auto;
  }
  .info .info-box .square-button {
    width: 70%;
  }
  .info .info-box p {
    width: 78%;
    text-align: center;
  }
  .info .info-box img {
    width: 30%;
  }
}
.Aboutheader {
  width: 140%;
  margin-top: -10%;
  margin-bottom: 5%;
  background-color: rgba(212, 219, 211, 0.7);
  opacity: 10;
  padding-top: 8%;
  padding-bottom: 3%;
  font-size: 180%;
  display: flex;
  justify-content: center;
}
.about-body-container {
  background-image: url("../img/photo-1523246224990-496e9a19113a.jpg") !important;
  background-color: black;
}
.about-body-container #chgtext {
  padding: 5% 5%;
  line-height: 200%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  width: 50%;
  margin-right: 10%;
  margin-left: 7%;
  margin-top: 2%;
  background-color: rgba(212, 219, 211, 0.7);
  font-family: 'Patua One', cursive !important;
  text-align: center;
  font-size: 180%;
  display: flex;
  justify-content: center;
}
.about-body-container .parent {
  position: relative;
  left: -5%;
  top: -2%;
  margin-top: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.about-body-container .parent .firsttwo {
  display: flex;
  padding-bottom: 3%;
  font-size: 8.5px;
}
.about-body-container .parent .secondtwo {
  display: flex;
  padding-bottom: 3%;
  font-size: 7.8px;
}
.about-body-container .parent .first2 {
  display: flex;
  padding-bottom: 3%;
  font-size: 7.6px;
}
.about-body-container .parent .lastone {
  color: whitesmoke;
  width: 99%;
}
.about-body-container .Abouttext {
  line-height: 120%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  padding-right: 10%;
  padding-left: 3%;
  width: 100%;
  background-color: rgba(212, 219, 211, 0.85);
  color: currentColor;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 180%;
  display: flex;
  justify-content: center;
  font-family: 'Patua One', cursive;
}
.about-body-container .middlecontent {
  padding: 2%;
  background: rgba(95, 95, 95, 0.674);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3% ;
  font-family: 'Patua One', cursive;
}
.about-body-container #about {
  font-family: 'Patua One', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  opacity: 10;
}
.about-body-container #about .buttons {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: unset;
  color: black;
}
.about-body-container #about .secondtwo {
  display: flex;
}
.about-body-container .picture1 {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  height: 50%;
  width: 40%;
  border-right: black solid 2px;
}
.about-body-container .Abouttext:hover {
  background-color: purple;
  color: whitesmoke;
}
.faqheader {
  width: 100%;
  margin-top: -10%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  margin-bottom: 5%;
  background-color: rgba(57, 58, 56, 0.92);
  opacity: 10;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 180%;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
.faq-body-container {
  background-image: url("../img/top-view-photo-of-clover-leaves-158780.jpg") !important;
  background-color: #3e7845;
}
.faq-body-container #faqchgtext {
  border-radius: 7px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  width: 40%;
  margin-right: 10%;
  margin-left: 7%;
  margin-top: 2%;
  color: white;
  background-color: rgba(57, 58, 56, 0.626);
  font-family: 'Patua One', cursive !important;
  font-size: 180%;
  display: flex;
  justify-content: center;
  padding: 5% 5%;
  line-height: 200%;
}
.faq-body-container .faqparent {
  position: relative;
  left: -5%;
  top: -2%;
  margin-top: 5%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
.faq-body-container .faqparent .questions {
  display: flex;
  padding-bottom: 3%;
  font-size: 8.5px;
}
.faq-body-container .Abouttext {
  border-radius: 7px;
  line-height: 120%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.548);
  padding-right: 10%;
  padding-left: 3%;
  width: 100%;
  background-color: rgba(57, 58, 56, 0.626);
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 130%;
  display: flex;
  justify-content: none!important;
  font-family: 'Patua One', cursive;
}
.faq-body-container .faqmiddlecontent {
  padding: 2%;
  background: rgba(95, 95, 95, 0.459);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3% ;
  font-family: 'Patua One', cursive;
}
.faq-body-container #faq {
  font-family: 'Patua One', cursive;
  color: white;
  opacity: 10;
}
.faq-body-container #faq .buttons {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: unset;
  color: black;
}
.faq-body-container .Abouttext:hover {
  background-color: black;
  color: whitesmoke;
}
@media (max-width: 600px) {
  .picture1 {
    visibility: hidden;
  }
  .firsttwo {
    display: grid!important;
  }
  .secondtwo {
    display: grid!important;
  }
  .first2 {
    display: grid!important;
  }
}
.form-container {
  width: 50%;
  margin: 4% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container h2 {
  font-size: 2rem;
}
.form-container p {
  margin: 3%;
}
.form-container form {
  padding: 3% 10% 5%;
  background-color: rgba(28, 167, 28, 0.363);
  border-radius: 10px;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
}
.form-container form input {
  border-radius: 10px;
  padding: 5px;
  border: 0.5px solid lightgreen;
}
.form-container form input[type=submit] {
  margin-top: 3%;
  background: none;
  border: 3px solid #03632E;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: #03632E;
  font-size: 1rem;
  padding: 10px 30px;
  background-color: white;
}
.form-container form input[type=submit]:hover {
  font-size: 1.25rem;
}
@media (max-width: 600px) {
  .form-container form input[type=submit] {
    width: 90%;
  }
}
.form-container form input[type=text],
.form-container form input[type=email] {
  width: 70%;
}
@media (max-width: 600px) {
  .form-container form input[type=text],
  .form-container form input[type=email] {
    width: 90%;
  }
}
.form-container form textarea {
  margin-top: 5%;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  border-radius: 15px;
  padding: 5px;
}
@media (max-width: 600px) {
  .form-container form textarea {
    width: 90%;
  }
}
.form-container form select {
  border-radius: 10px;
  padding: 5px;
  border: 0.5px solid lightgreen;
  padding: 1%;
}
@media (max-width: 600px) {
  .form-container {
    width: 90%;
  }
}
