.button2 {
  background: linear-gradient(135deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
  background-size: 400%;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  width: 50%;
}
.button2:hover {
  font-size: 1.25rem;
  background-size: 220%;
}
.button3 {
  background: none;
  border: 3px solid #187795;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: #187795;
  font-size: 1rem;
  padding: 10px 30px;
}
.button3:hover {
  font-size: 1.25rem;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}
p,
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
  background-size: 210%;
  padding: 10px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  align-items: flex-end;
}
nav .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .logo img {
  max-width: 40px;
  margin-left: 15px;
  border: 2px solid white;
  border-radius: 10px;
}
nav .logo h1 {
  font-size: 2rem;
  align-self: flex-end;
}
nav a {
  padding: 15px 25px;
  color: black;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    background-size: 220%;
    align-items: center;
  }
  nav .logo {
    margin-bottom: 5%;
  }
  nav .nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-links a {
    padding: 5px 10px;
  }
}
footer {
  background: linear-gradient(135deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
  background-size: 210%;
  margin-top: 10%;
  height: 50px;
}
header {
  margin: 2% auto;
  width: 90%;
  border: 1px solid lightgray;
  box-shadow: 1px 2px 1px rgba(95, 95, 95, 0.459);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
header img {
  width: 45%;
  height: 100%;
}
header .cta-main-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .cta-main-container h2 {
  font-size: 2rem;
  margin-bottom: 5%;
  text-align: center;
}
header .cta-main-container .cta-copy {
  width: 70%;
  text-align: center;
}
header .cta-main-container .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .cta-main-container .buttons .round-button {
  background: linear-gradient(135deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
  background-size: 400%;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  width: 50%;
  margin: 5%;
}
header .cta-main-container .buttons .round-button:hover {
  font-size: 1.25rem;
  background-size: 220%;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header img {
    width: 100%;
  }
  header .cta-main-container .cta-copy {
    width: 90%;
  }
  header .cta-main-container .buttons {
    flex-direction: column;
  }
  header .cta-main-container .buttons .round-button {
    width: 90%;
  }
}
.info {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info .info-box {
  border: 1px solid lightgray;
  box-shadow: 1px 3px 1px rgba(211, 211, 211, 0.589);
  width: 23%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.info .info-box img {
  width: 50%;
  margin: 5%;
}
.info .info-box h3 {
  margin: 5% auto;
  font-size: 1.5rem;
}
.info .info-box .square-button {
  margin: 5% 0;
  background: none;
  border: 3px solid #187795;
  box-shadow: 1px 3px rgba(211, 211, 211, 0.438);
  color: #187795;
  font-size: 1rem;
  padding: 10px 30px;
}
.info .info-box .square-button:hover {
  font-size: 1.25rem;
}
.info .info-box p {
  width: 90%;
}
@media (max-width: 600px) {
  .info {
    flex-direction: column;
  }
  .info .info-box {
    width: 90%;
    margin: 5% auto;
  }
  .info .info-box .square-button {
    width: 70%;
  }
  .info .info-box p {
    width: 80%;
    text-align: center;
  }
  .info .info-box img {
    width: 40%;
  }
}
