footer{
    background: @btnGradient;
    background-size: 210%;
    margin-top: 5%;
    height: 50px;
    text-align: center;
    color: white;
    p{
        font-size: 1.3rem;
        padding-top: 15px;
    }
}

.page-container{
    position: relative;
    min-height: 100vh;
    footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    @media @phone{
        display: none;
    }
    @media @tablet{
        display: none;
    }
    }
}