//Header Styles
header{
    margin: 2% auto;
    width: 90%;
    border: 1px solid lightgray;
    box-shadow: 1px 2px 1px rgba(95, 95, 95, 0.459);
    .customFlex(@justify-content: space-evenly);
    //Make imgs appropriate size
    img{
        width: 45%;
        height: 90%;
    }
    //Header inner-container styles
    .cta-main-container{
        padding: 15px;
        .customFlex(@justify-content:center, @flex-direction:column);
        h2{
            font-size: 2rem;
            margin-bottom: 5%;
            text-align: center;
        }
        .cta-copy{
            width: 70%;
            text-align: center;
        }
        .buttons{
            width: 100%;
            .customFlex(@justify-content:center);
            .round-button{
                .button2();
                margin: 5%;
            };
        }
    }
    //Media query for header at phone width
    @media @phone{
        flex-direction: column;
        img{
            width: 100%;
        }
        .cta-main-container{
            .cta-copy{
                width: 90%;
            }
            .buttons{
                flex-direction: column;
                .round-button{
                    width: 90%;
                }
            }
        }
    }   
}

//Styles for the info part of the homepage
.info{
    margin-top: 5%;
    .customFlex(@justify-content:space-evenly);
    //Styles for the boxes in the info part
    .info-box{
        border: 1px solid lightgray;
        box-shadow: 1px 3px 1px rgba(211, 211, 211, 0.589);
        width: 23%;
        height: 500px;
        .customFlex(@flex-direction:column, @justify-content: space-evenly);
        //Resize imgs appropriately
        img{
            width: 35%;
            margin: 5%;
            border-radius: 20px;
        }
        h3{
            margin: 5% auto;
            font-size: 1.5rem;
            text-align: center;
        }
        .square-button{
            margin: 5% 0;
            .button3();
        }
        p{
            width: 90%;
            text-align: center;
        }
    }
    //Media query to switch to column view on small screens
    @media @phone{
        flex-direction: column;
        .info-box{
            width: 90%;
            margin: 5% auto;
            .square-button{
                width: 70%;
            }
            p{
                width: 78%;
                text-align: center;
            }
            img{
                width: 30%;
            }
        }
    }
}
